<form id="instagram">
  <h4>Enter Username</h4>
  <input type="text" name="username"/> <br>
  <input type="radio" name="social_network" value="twitter"/> Twitter <br> 
  <input type="radio" name="social_network" value="instagram"/> Instagram <br>
  <input type="submit" value="Submit"/>
</form>


<div id="container">
</div>